div.profile {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
}
p.follower,
p.login {
  color: rgb(161, 18, 61);
}
h3.leftDiv,
p.leftDiv {
  padding: 15px;
  padding-bottom: 25px;
  border: solid 1px rgb(13, 63, 228);
  width: 300px;
}
