.wholecontainer{}

h1,h2,h3, h4, h5 {font-style: bold;
    font-size:x-large;}

.navbar{display: flex; 
    
}
a{padding:15px;
text-decoration: none; font-size:25px;}

.detail{display: flex;
flex-direction: row;
justify-content: space-between;}

.mainphoto{width: 100%;}



.logo{display: flex;
  flex-direction: row;
  justify-content: space-between;}

.webIntro{padding:15px;}
.webIndustry{padding-right: 20px;}



.logo1{width:90;height: 75px;}
.logo2{width:90;height: 75px;}
.logo3{width:90;height: 75px;}
.logo4{width:90;height: 75px;}
.logo5{width:90;height: 75px;}
.logo6{width:90;height: 75px;}
.logo7{width:90;height: 75px;}
.logo8{width:90;height: 75px;}
.logo9{width:90;height: 75px;}

.logo{display: flex;
  flex-direction: row;
  justify-content: space-between;}

  .galleries{padding:15px;}

.logotypes img{width: 100px;
    height: 69px;
    margin: 7px;
    margin-left: 0;
  padding:60px;}

.mapImage{width:150px;height:150px;}
p{font-family:OpenSans, sans-serif;
font-size: 22px;}

.footer {
    background-color:#6736cd;
    margin: 0;
    color: white;
   
  }
  
    .wholecontainer{
      padding-left: 50px; 
      padding-right: 30px; 
    }

    

  .footerColumn{
  float: left;  
    width:25%; 
     }

     li{list-style-type: none;
    line-height: 3.5;
  font-size:28px;}

  .footertext{font-size: 28px;}

     
     .footer:after{
      content: "";
      display: table;
      clear: both;  
  
  }

  @media screen and (max-width: 960px) footer{
    margin-top: 30px;
    padding-top: 20px;
    line-height: 1.5;
}

  